@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-size: 1.6rem;
  background-color: #f4f4fe;
}

.container {
  width: 80vw;
  margin: 0 auto;
}

h1 {
  margin: 5rem 0;
}

.title {
  text-align: center;
  text-decoration: rgb(0, 255, 72) underline wavy;
}

.text-content {
  margin: 2rem 0;
}

.project-section {
  background-color: #fff;
  margin: 5rem 0;
  padding: 5rem 0;
}

.project-lists {
  list-style-type: "";
}

.project-lists .list-item {
  margin: 1rem 0;
}

.project-lists .list-item::before {
  content: "👉";
}

.project-lists .list-item a {
  text-decoration: none;
  color: #1b1b1b;
}

.global-btn {
  background: linear-gradient(#e92e3d, #ff6e6a);
  border-radius: 30px;
  border: 0;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.5);
  color: #fff;
  cursor: pointer;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-size: 2.5rem;
  letter-spacing: 0;
  padding: 1rem 1.5rem;
  text-decoration: none;
  text-transform: uppercase;
  transition: transform 0.2s ease-in-out;
}

.global-btn:hover,
.global-btn:focus {
  transform: translateY(-1px);
  outline: 2px solid #3ed886;
}

.global-btn-about {
  position: fixed;
  top: 0;
  right: 0;
  margin: 1rem;
}

.global-btn--back {
  position: fixed;
  margin: 1rem;
  top: 0;
  left: 0;
  z-index: 999;
}

.modal {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  left: 50%;
  max-height: 90vh;
  overflow: scroll;
  padding: 6rem;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  z-index: 9999;
}

.modal h1 {
  margin: 2rem 0;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 999;
}

.close-modal {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 5rem;
  margin: 3rem;
  padding: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.hidden {
  display: none;
}

@media screen and (max-width: 1080px) {
  .modal {
    width: 90%;
    padding: 2rem;
  }
}
