.quiz {
  max-width: 50rem;
  margin: auto;
  padding: 2rem;
  background: linear-gradient(180deg, #3e2a60 0%, #321061 100%);
  border-radius: 8px;
  box-shadow: 1px 1px 8px 4px rgba(12, 5, 32, 0.6);
  text-align: center;
}
