@import "../../assets/styles/common";

.summary {
  max-width: 40rem;
  margin: 2rem auto;
  padding: 2rem;
  background: linear-gradient(180deg, #a17eda 0%, #895fc4 100%);
  color: #191321;
  border-radius: 8px;
  box-shadow: 1px 1px 8px 1px rgba(0, 0, 0, 0.6);
  animation: slide-in-from-bottom 0.7s ease-out;

  img {
    display: block;
    width: 8rem;
    height: 8rem;
    object-fit: contain;
    margin: 0 auto 1rem auto;
    padding: 1rem;
    filter: drop-shadow(0 0 4px rgba(0, 0, 0, 0.6));
    border: 2px solid #3a2353;
    border-radius: 50%;
    background: #c18cfa;
  }

  h2 {
    font-family: $robotoFont;
    font-size: 3rem;
    text-align: center;
    margin: 0;
    text-transform: uppercase;
    color: #3a2353;
  }

  ol {
    list-style: none;
    margin: 2rem auto;
    padding: 0;
    text-align: center;
  }

  li {
    margin: 2rem 0;
  }

  h3 {
    font-family: $robotoCondensedFont;
    font-size: 1rem;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #2c203d;
    color: #d8cde8;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
  }

  .question {
    margin: 0.25rem 0;
    font-size: 1rem;
    color: #30273a;
  }

  .user-answer {
    margin: 0.25rem 0;
    font-family: $robotoCondensedFont;
    font-weight: bold;
    color: #251e2f;

    &.correct {
      color: #054e37;
    }

    &.wrong {
      color: #730b4b;
    }

    &.skipped {
      color: #d1baf2;
      font-weight: normal;
    }
  }
}

.summary-stats {
  display: flex;
  gap: 3rem;
  width: 60%;
  margin: 2rem auto;
  padding-bottom: 2rem;
  border-bottom: 2px solid #594276;

  p {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin: 0;
  }

  .number {
    font-family: $robotoCondensedFont;
    font-size: 3rem;
    color: #594276;
  }

  .text {
    font-family: $robotoCondensedFont;
    text-transform: uppercase;
    font-size: 0.8rem;
    color: #30273a;
    margin-top: -0.7rem;
    margin-left: 0.2rem;
    letter-spacing: 0.1rem;
  }
}
