@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  outline: none;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
  background: #eee;
  font-size: 1.6rem;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  max-width: 1400px;
  width: 90%;
  margin: 0 auto;
}

.--btn {
  font-size: 1.6rem;
  font-weight: 400;
  padding: 6px 8px;
  margin: 0 5px 0 0;
  border: 1px solid transparent;
  border-radius: 3px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s;
}

.--btn:hover {
  transform: translateY(-2px);
}

.--btn-primary {
  color: #fff;
  background: #FF5E34;
}

.mobileSignInBtn {
  display: none;
}

nav {
  background-color: #272727;
}

footer {
  margin-top: auto;
}
footer .bottom-footer {
  background-color: #272727;
}
footer .bottom-footer .copyright {
  min-height: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  bottom: 0;
  color: #B1B1B1;
}

.hide {
  display: none !important;
}

.active {
  color: #FF5E34 !important;
  text-decoration: underline !important;
}

.float-search {
  display: none;
}

.main-menu, .footer-menu {
  display: flex;
  overflow: hidden;
}
.main-menu li, .footer-menu li {
  list-style-type: none;
  color: #eee;
}
.main-menu li a, .footer-menu li a {
  color: #B1B1B1;
  text-decoration: none;
  transition: 0.3s ease;
}
.main-menu li a:hover, .footer-menu li a:hover {
  color: #FF5E34;
  text-decoration: underline;
  transform: translateY(-2px);
}
.main-menu li::after, .footer-menu li::after {
  content: "   |    ";
  color: #FF5E34;
}
.main-menu li:last-child:after, .footer-menu li:last-child:after {
  content: " ";
}

.nav {
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: space-between;
}
.nav .nav-icons, .nav .mobile-search-icon {
  display: none;
}
.nav .logo {
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: center;
}
.nav .logo img {
  height: 4rem;
}
.nav .logo span {
  color: #fff;
  font-size: 4rem;
  text-transform: uppercase;
}
.nav .right-nav {
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: center;
}
.nav .right-nav .nav-search {
  display: flex;
  position: relative;
  flex: 1;
  max-width: 50rem;
  min-width: 20rem;
}
.nav .right-nav .nav-search .input-search {
  display: flex;
}
.nav .right-nav .nav-search .input-search input[type=text] {
  height: 3rem;
  display: block;
  max-width: 30rem;
  font-size: 1.6rem;
  font-weight: 300;
  padding: 1rem;
  padding-left: 3rem;
  margin: 1rem auto;
  width: 100%;
  border: 1px solid #777;
  border-right: 0;
  border-radius: 30px 0 0 30px;
  background-color: #B9B9B9;
}
.nav .right-nav .nav-search .input-search .search-icon {
  background-color: #B9B9B9;
  height: 3rem;
  display: block;
  font-size: 2rem;
  font-weight: 300;
  padding: 1rem;
  border: 1px solid #777;
  border-radius: 0 30px 30px 0;
  align-self: center;
  display: flex;
  cursor: pointer;
}
.nav .right-nav .nav-search .input-search .search-icon:hover {
  color: #FF5E34;
}
.nav .right-nav .auth {
  margin-left: 2rem;
  display: flex;
}

@media screen and (max-width: 1200px) {
  .container {
    width: 100%;
    padding: 0 1rem;
  }
  .nav .logo {
    margin: 0;
  }
  .float-search {
    display: flex;
    position: relative;
  }
  .float-search .input-search {
    width: 100%;
    display: flex;
  }
  .float-search .input-search input[type=text] {
    background-color: transparent;
    color: #B1B1B1;
    height: 4rem;
    display: block;
    width: 100%;
    font-size: 2rem;
    letter-spacing: 1px;
    padding-left: 1rem;
    margin: 1rem auto;
    border: 0;
    border-right: 0;
    border-bottom: 1px solid #fff;
  }
  .float-search .input-search .search-icon {
    background-color: #fff;
    height: 4rem;
    display: block;
    font-size: 2rem;
    font-weight: 300;
    padding: 1rem;
    border: 1px solid #fff;
    border-radius: 0 30px 30px 0;
    border-radius: 50px;
    transform: translateX(-25px);
    align-self: center;
    display: flex;
    cursor: pointer;
  }
  .float-search .input-search .search-icon:hover {
    color: #fff;
    background-color: #FF5E34;
    border: 1px solid #FF5E34;
  }
}
@media screen and (max-width: 992px) {
  .container {
    width: 95%;
  }
  .nav-icons {
    color: #fff;
  }
  .nav .right-nav .nav-search {
    display: none;
  }
  .nav .right-nav .nav-right-icons {
    display: flex;
  }
  .nav .right-nav .nav-right-icons .mobile-search-icon,
  .nav .right-nav .nav-right-icons .mobileSignInBtn {
    display: block;
    cursor: pointer;
    color: #fff;
    margin: 0 1rem;
  }
  .nav .right-nav .nav-right-icons .auth {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .nav {
    position: relative;
    transition: 0.5s;
    overflow: visible;
    display: flex;
  }
  .nav .nav-icons {
    display: block;
    margin-right: 1rem;
  }
  .nav .cross {
    z-index: 99;
    font-size: 2rem;
  }
  .nav .mobile-menu {
    display: block;
    background-color: #272727;
    width: 110vw;
    height: 100vh;
    position: absolute;
    top: 0;
    z-index: 9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translateX(-5rem);
  }
  .nav .mobile-menu li {
    margin: 1rem 0;
    font-size: 2rem;
  }
  .main-menu {
    display: none;
  }
  .main-menu li::after {
    content: "";
  }
  .footer-menu {
    flex-wrap: wrap;
  }
  .footer-menu li::after {
    content: "   ";
  }
  footer .bottom-footer {
    padding: 2rem 1rem;
  }
  footer .bottom-footer .copyright {
    display: block;
  }
  footer .bottom-footer .copyright .footer-menu {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 380px) {
  .nav-icons {
    color: #fff;
  }
  .nav {
    height: 5rem;
  }
  .nav .logo img {
    height: 2rem;
  }
  .nav .logo span {
    font-size: 2rem;
  }
  .nav .nav-right-icons .mobile-search-icon,
  .nav .nav-right-icons .mobileSignInBtn {
    font-size: 1.6rem;
  }
  .float-search {
    display: flex;
    position: relative;
  }
  .float-search .input-search {
    width: 100%;
    display: flex;
  }
  .float-search .input-search input[type=text] {
    height: 3rem;
  }
  .float-search .input-search .search-icon {
    height: 3rem;
    width: 3rem;
    font-size: 1.6rem;
    transform: translateX(-15px);
  }
}/*# sourceMappingURL=main.css.map */