* {
  box-sizing: border-box;
}

html {
  font-family: "Bricolage Grotesque", sans-serif;
  line-height: 1.5;
  color: #defaf8;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  height: 100%;
}

body {
  margin: 0;
  padding: 2rem;
  background: linear-gradient(180deg, #1f1c2c 0%, #1f1c2c 100%);
}
