@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

$color-nav: #272727;
$color-main-menu: #B1B1B1;
$color-white: #fff;
$color-primary: #FF5E34;
$bg-color-search-bar: #B9B9B9;
// $bg-color-search-bar: #f6f6f6;
$font-family: "Poppins", sans-serif;



@mixin flex($ai, $jc) {
    display: flex;
    overflow: hidden;
    align-items: $ai;
    justify-content: $jc;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    outline: none;
    // border: 1px solid red;
}

html {
    font-size: 62.5%; //10px
}

body {
    font-family: $font-family;
    background: #eee;
    font-size: 1.6rem;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

// .wrapper {
//     max-width: 1600px;
//     margin: 0 auto;
// }

.container {
    max-width: 1400px;
    width: 90%;
    margin: 0 auto;
}

.--btn {
    font-size: 1.6rem;
    font-weight: 400;
    padding: 6px 8px;
    margin: 0 5px 0 0;
    border: 1px solid transparent;
    border-radius: 3px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s;
}

.--btn:hover {
    transform: translateY(-2px);
}

.--btn-primary {
    color: #fff;
    background: $color-primary;
}

.mobileSignInBtn {
    display: none;
}

nav{
    background-color: $color-nav;
}


//footer
footer{
    margin-top: auto;
    .bottom-footer{
        background-color: $color-nav;
        // min-height: 5rem;
        .copyright {
            // background: yellow;
            min-height: 5rem;
            display: flex;
            justify-content: space-between;
            align-items: center;
            // align-self: flex-end;
            bottom: 0;
            color: $color-main-menu;
            // .footer-menu{
                
            // }
        }
    }
}


.hide {
    display: none !important;
}

.active {
    color: $color-primary !important;
    text-decoration: underline !important;
}

.float-search {
    display: none;
}

.main-menu, .footer-menu {
    display: flex;
    // margin: 0 1.5rem;
    // background-color: yellow;
    // min-width: fit-content;
    // flex-wrap: wrap;
    overflow: hidden;

    li {
        list-style-type: none;
        color: #eee;
        // display: flex;

        a {
            color: $color-main-menu;
            text-decoration: none;
            transition: .3s ease;
            // display: block;

            &:hover {
                color: $color-primary;
                text-decoration: underline;
                transform: translateY(-2px);
            }
        }

    }

    li::after {
        content: "\00a0 \00a0 \00a0 | \00a0 \00a0 \00a0";
        color: $color-primary;
    }

    li:last-child:after {
        content: "\00a0";
    }
}

.nav {
    @include flex(center, space-between);

    .nav-icons, .mobile-search-icon {
        display: none;
    }

    .logo {
        @include flex(center, center);
        // min-width: 30%;
        img {
            // width: 4rem;
            height: 4rem;
        }
        span {
            color: $color-white;
            font-size: 4rem;
            text-transform: uppercase;
        }
    }

    .right-nav{
        @include flex(center, center);
        // background-color: red;
        .nav-search {
            display: flex;
            position: relative;
            flex: 1;
            max-width: 50rem;
            min-width: 20rem;
    
            .input-search{
                display: flex;
                input[type="text"] {
                    height: 3rem;
                    display: block;
                    max-width: 30rem;
                    font-size: 1.6rem;
                    font-weight: 300;
                    padding: 1rem;
                    padding-left: 3rem;
                    margin: 1rem auto;
                    width: 100%;
                    border: 1px solid #777;
                    border-right: 0;
                    border-radius: 30px 0 0 30px;
                    background-color: $bg-color-search-bar;
                }
                
                .search-icon {
                    background-color: $bg-color-search-bar;
                    height: 3rem;
                    display: block;
                    // max-width: 30rem;
                    font-size: 2rem;
                    font-weight: 300;
                    padding: 1rem;
                    // padding-left: 3rem;
                    // margin: 1rem auto;
                    // width: 100%;
                    border: 1px solid #777;
                    // border-left: 0;
                    border-radius: 0 30px 30px 0;
                    align-self: center;
                    display: flex;
                    cursor: pointer;
        
                    &:hover {
                        color: $color-primary;
                        // text-decoration: underline;
                        // transform: translate(-2px, -3px);
                    }
                }
            }
    
        }
        .auth {
            margin-left: 2rem;
            display: flex;
        }
    }

   

}

@media screen and (max-width: 1200px) {
    .container {
        width: 100%;
        padding: 0 1rem;
    }
    .nav {
        .logo {
            margin: 0;
        }
    }
    .float-search {
        display: flex;
        position: relative;
        // flex: 1;
        // width: 90vw;
        // background-color: orange;
        // background-color: $color-nav;
        // margin: 0 auto;
        // padding: 0 8rem 0 4rem;

        
        
        .input-search {
            // background-color: red;
            // background-color: transparent;
            // position: absolute;
            // right: 0;
            // max-width: 100%;
            // min-width: 30%;
            width: 100%;
            // margin: 0 3rem;
            display: flex;

            input[type="text"] {
                background-color: transparent;
                color: $color-main-menu;
                height: 4rem;
                display: block;
                width: 100%;
                font-size: 2rem;
                letter-spacing: 1px;
                padding-left: 1rem;
                margin: 1rem auto;
                border: 0;
                border-right: 0;
                border-bottom: 1px solid $color-white;
            }

            .search-icon {
                // color: $color-white;
                // z-index: 99;
                background-color: $color-white;
                height: 4rem;
                display: block;
                // max-width: 30rem;
                font-size: 2rem;
                font-weight: 300;
                padding: 1rem;
                // padding-left: 3rem;
                // margin: 1rem auto;
                // width: 100%;
                border: 1px solid $color-white;
                // border-left: 0;
                border-radius: 0 30px 30px 0;
                border-radius: 50px;
                transform: translateX(-25px);
                align-self: center;
                display: flex;
                cursor: pointer;

                &:hover {
                    color: $color-white;
                    background-color: $color-primary;
                    border: 1px solid $color-primary;
                    // text-decoration: underline;
                    // transform: translate(-2px, -3px);
                }
            }
        }

    }
}

@media screen and (max-width: 992px) {
    .container {
        width: 95%;
    }
    .nav-icons {
        color: $color-white;
    }
    .nav {
        .right-nav{
            .nav-search {
                display: none;
            }
            .nav-right-icons {
                display: flex;
                .mobile-search-icon,
                .mobileSignInBtn {
                    
                    display: block;
                    cursor: pointer;
                    color: $color-white;
                    margin: 0 1rem;
                }
                // .mobile-search-icon:hover,
                // .mobileSignInBtn:hover {
                //     transform: translateY(-2px);
                //     color: $color-primary;
                // }
                .auth {
                    display: none;
                }    
            }    
        }
    }
    
    
}

@media screen and (max-width: 768px) {
    .nav {
        position: relative;
        transition: .5s;
        overflow: visible;
        display: flex;

        // justify-content: center;
        .nav-icons {
            display: block;
            margin-right: 1rem;
        }
      


        .cross {
            z-index: 99;
            font-size: 2rem;
        }

        .mobile-menu {

            display: block;
            background-color: $color-nav;
            width: 110vw;
            height: 100vh;
            position: absolute;
            top: 0;
            // left: 0;
            // right: rem;
            z-index: 9;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            transform: translateX(-5rem);

            li {
                margin: 1rem 0;
                font-size: 2rem;
            }
        }

        
    }
    .main-menu{
        display: none;
        li::after {
            content: "";                
        }
    }
    .footer-menu{
        // flex-direction: column;
        li::after {
            content: "\00a0 \00a0 \00a0";                
        }
        flex-wrap: wrap;
    }

    footer{
        .bottom-footer{
            padding: 2rem 1rem;
            .copyright{
                display: block;
                .footer-menu{
                    // flex-direction: column;
                    flex-wrap: wrap;
                }
            }
        }
    }
}

@media screen and (max-width: 380px) {
    .nav-icons {
        color: $color-white;
    }
    .nav {
        height: 5rem;
        .logo {
            img {
                height: 2rem;
            }
            span {
                font-size: 2rem;
            }
        }
        .nav-right-icons {
            .mobile-search-icon,
            .mobileSignInBtn {
                font-size: 1.6rem;  
            }
        }
    }

    .float-search {
        display: flex;
        position: relative;
        .input-search {
            width: 100%;
            display: flex;
            input[type="text"] {
                height: 3rem;
            }
            .search-icon {
                height: 3rem;
                width: 3rem;
                font-size: 1.6rem;
                transform: translateX(-15px);
            }
        }

    }
}