@import "./assets/scss/common";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $fontRaleway;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: $backgroundColor;
  color: $bodyColor;
  min-height: 100vh;
}
