.header {
  margin: 2rem 0;
  text-align: center;

  img {
    width: 3rem;
    height: 3rem;
    filter: drop-shadow(0 0 4px rgba(0, 0, 0, 0.6));
  }

  h1 {
    font-family: "Roboto Condensed", sans-serif;
    font-weight: bold;
    font-size: 2.5rem;
    letter-spacing: 0.6rem;
    margin: 0;
    text-transform: uppercase;
    background: linear-gradient(90deg, #e781fb 40%, #8e76fa 60%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
