* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Quicksand", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: radial-gradient(#303b37, #1a1f1d);
  color: #e1eeeb;
  min-height: 100vh;
  letter-spacing: 1px;
}

#header {
  text-align: center;
  margin: 3rem auto;
}

#header img {
  width: 5rem;
  height: 5rem;
  object-fit: contain;
  background-color: transparent;
}

#header h1 {
  font-size: 2.4rem;
}

#user-input {
  padding: 2rem;
  max-width: 40rem;
  margin: 2rem auto;
  border-radius: 4px;
  background: linear-gradient(180deg, #307e6c, #2b996d);
}

.input-group {
  display: flex;
  justify-content: space-evenly;
  gap: 2rem;
  margin: 2rem;
}

#user-input label {
  display: block;
  margin-bottom: 0.25rem;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 0.8rem;
  text-transform: uppercase;
}

#user-input input {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #76c0ae;
  border-radius: 0.25rem;
  background-color: transparent;
  color: #c2e9e0;
  font-size: 1rem;
}

#result {
  padding: 1rem;
  max-width: 50rem;
  margin: 2rem auto;
  border-radius: 4px;
  overflow-x: auto;
}

#result table {
  border-collapse: collapse;
  width: 100%;
}

#result thead {
  color: #83e6c0;
}

#result th,
#result td {
  padding: 5px;
}

#result tbody {
  font-family: "Roboto Condensed", sans-serif;
  color: #c2e9e0;
}

.center {
  text-align: center;
}
