@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-size: 1.6rem;
  background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);
}

.btn-wrapper {
  display: flex;
  justify-content: space-around;
  margin: 5rem 0;
}

.show-modal {
  padding: 1rem 3rem;
  background-color: white;
  border-radius: 50px;
  border: 5px solid white;
  font-size: 2rem;
  font-weight: 600;
  cursor: pointer;
}

.hidden {
  display: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  background-color: #fff;
  padding: 6rem;
  border-radius: 5px;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 10;
}

.modal h1 {
  margin: 2rem 0;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.close-modal {
  font-size: 5rem;
  background-color: transparent;
  border: none;
  position: absolute;
  top: 0;
  right: 0;
  margin: 3rem;
  padding: 0;
  cursor: pointer;
}
