.places-category {
  max-width: 85rem;
  margin: 2rem auto;
  padding: 1rem;
  border: 2px solid #0d373e;
  border-radius: 8px;

  h2 {
    font-family: "Raleway", sans-serif;
    font-size: 1.5rem;
    margin: 0;
    padding: 0;
    margin-bottom: 1rem;
    color: #8feeff;
    text-align: center;
  }
}

.fallback-text {
  text-align: center;
}

.places {
  max-width: 80rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
  grid-gap: 2rem;
  margin: 2rem auto;
  padding: 0;
  list-style: none;
}

.place-item {
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  background: #1f1c2c;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  animation: slide-up-fade-in 0.3s ease-out forwards;

  button {
    background: transparent;
    border: none;
    padding: 0;
    transition: all 0.2s ease-in-out;
  }

  &:nth-child(odd) button:hover,
  &:nth-child(odd) button:focus {
    box-shadow: 0 0 8px 4px rgba(255, 217, 0, 0.6);
    border-radius: 8px;
    transform: rotate(5deg);
  }

  &:nth-child(even) button:hover,
  &:nth-child(even) button:focus {
    box-shadow: 0 0 8px 4px rgba(255, 217, 0, 0.6);
    border-radius: 8px;
    transform: rotate(-5deg);
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0.5rem;
  }

  h3 {
    font-family: "Raleway", sans-serif;
    font-weight: normal;
    font-size: 0.9rem;
    position: absolute;
    bottom: 0;
    right: 1rem;
    margin: 1rem auto;
    background-color: #feee86;
    border-radius: 4px;
    padding: 0.15rem 0.35rem;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
  }
}

@keyframes slide-up-fade-in {
  from {
    opacity: 0;
    transform: translateY(3rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
