* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  --color-background: #f2f1ff;
  --color-card: #9190f5;
  --color-primary: #b2cdff;
  --color-secondary: #e4e0fb;
  --color-text-dark: #0f172a;
  --color-text-light: #64748b;
  --color-white: #ffffff;
}

html {
  font-size: 62.5%;
}

body {
  background-color: var(--color-background);
  font-family: Inter, Arial, Helvetica, sans-serif;
}

.card__body,
.card,
.footer__container-section,
.transactions__header, 
.main__container,
.transaction__lists,
.sidebar {
  gap: 2rem;
  display: flex;
  flex-direction: column;
}

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
  width: 90vw;
  display: grid;
  grid-template-areas:
    "header header"
    "main sidebar"
    "footer footer";
  grid-template-columns: 4fr 1fr;
  gap: 4rem;
  padding: 3rem 0;
}

.top-navigation {
  grid-area: header;
  align-items: center;
  background-color: var(--color-primary);
  border-radius: 3rem;
  display: flex;
  height: 6rem;
  justify-content: space-between;
  overflow: hidden;
  padding: 0 1rem 0 2rem;
  box-shadow: var(--box-shadow);
}

.left-nav {
  color: var(--color-text-dark);
  font-weight: 500;
}

.user-greeting {
  font-size: 2rem;
}

.right-nav {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-avatar-container {
  width: 4rem;
  height: 4rem;
}

.user-avatar {
  width: 100%;
  height: 100%;
  object-fit: cover;
  box-shadow: var(--box-shadow);
  border-radius: 3rem;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.switch-users:hover .switch-users-list {
  background-color: var(--color-white);
  font-size: 1.6rem;
  margin-top: 2px;
  position: absolute;
  transform: translateX(-80%);
  z-index: 99;
}

.user__list {
  align-items: center;
  border-bottom: 1px solid #ccc;
  display: flex;
  gap: 1rem;
  padding: 0.5rem 2rem;
  width: 100%;
}

.user__list:hover {
  background-color: #f2f2f2;
}

.user__list-avatar {
  width: 20px;
  height: 20px;
  object-fit: cover;
  border-radius: 50%;
}

.btn {
  border: 0;
  font-size: 1.4rem;
  font-family: Inter, Arial, Helvetica, sans-serif;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
  border-radius: 1rem;
}

.btn:hover,
.btn:focus,
.user-avatar:hover,
.user-avatar:focus {
  border: 0;
  outline: 2px solid #0d99ff;
  transform: translateY(-2px);
}

.btn--primary {
  background-color: var(--color-white);
  padding: 1rem 2rem;
  box-shadow: var(--box-shadow);
}

.card {
  background-color: var(--color-primary);
  box-shadow: var(--box-shadow);
  border-radius: 3rem;
}

.main__container {
  grid-area: main;
  gap: 5rem;
}

.transaction__container {
  height: fit-content;
}

.transactions__header {
  padding: 2rem;
}

.md__text {
  font-size: 1.6rem;
}

.sm__text {
  font-size: 1.4rem;
}

.row {
  display: flex;
  gap: 2rem;
  justify-content: space-between;
  flex-wrap: wrap;
}

.col {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  padding: 1rem 2rem;
  border-radius: 3rem;
  background-color: var(--color-secondary);
  box-shadow: var(--box-shadow);
}

.col__interest {
  flex-grow: 1;
}

.transactions__body {
  background-color: var(--color-white);
  border-radius: 3rem;
  padding: 2rem;
  box-shadow: var(--box-shadow) inset;
  height: 44rem;
  overflow-y: auto;
}

.transactions__body::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.transactions__body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px var(--color-primary);
  border-bottom-right-radius: 30px;
  border-top-right-radius: 30px;
  margin-bottom: 1.1rem;
}

/* Handle */
.transactions__body::-webkit-scrollbar-thumb {
  background: var(--color-primary);
  border-radius: 3rem;
}

.transaction__list {
  background-color: var(--color-secondary);
  border-radius: 2rem;
  padding: 1rem;
  display: flex;
  align-items: center;
  box-shadow: var(--box-shadow);
  justify-content: space-between;
}

.transaction__user {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.transaction__icon {
  width: 5rem;
  height: 5rem;
}

.transaction__correspondents,
.transaction__value {
  color: var(--color-text-dark);
  font-size: 1.6rem;
  text-transform: capitalize;
}

.transaction__date,
.transaction__type {
  color: var(--color-text-light);
  font-size: 1.4rem;
  line-height: 1.5;
  text-transform: lowercase;
}

.transaction__amount {
  margin-right: 2rem;
  text-align: right;
}

.sidebar {
  grid-area: sidebar;
  height: 100%;
  gap: 5rem;
}

.sidebar__card {
  padding: 2rem;
}

.card__title {
  background-color: var(--color-secondary);
  border-radius: 3rem;
  box-shadow: var(--box-shadow);
  padding: 1rem;
  text-align: center;
  font-size: 1.8rem;
}

.input__group {
  padding: 1rem;
  font-size: 2rem;
  border-radius: 1rem;
  border: 0;
  box-shadow: var(--box-shadow) inset;
  text-transform: lowercase;
  color: var(--color-text-light);
}

.input__group:focus {
  border: 0;
  outline: 2px solid #0d99ff;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.select_input {
  width: 100%;
  text-transform: capitalize;
}

.footer__container {
  grid-area: footer;
  min-height: 10rem;
  border-radius: 3rem;
  background-color: var(--color-primary);
  box-shadow: var(--box-shadow);
  padding: 2rem;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.footer__container-section .card__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  padding: 1rem 3rem;
}

.hidden {
  display: none !important;
}

.login__container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.status__message {
  width: 50rem;
  margin: 4rem auto 0;
  color: var(--color-white);
  background-color: var(--color-card);
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.error {
  background-color: #f87171;
}

.success {
  background-color: #38bdf8;
}

@media screen and (max-width: 800px) {
  html {
    font-size: 50%;
  }
}

@media screen and (max-width: 680px) {
  .wrapper {
    grid-template-areas:
      "header"
      "sidebar"
      "main"
      "footer";
    grid-template-columns: 1fr;
  }
  .input__group {
    width: 100%;
  }
}

@media screen and (max-width: 320px) {
  html {
    font-size: 43.75%;
  }
}
